In [1]:
import course;course.header()
import pandas as pd

# Advanced Python Course
## Mobi Heidelberg WS 2021/22
### by Christian Fufezan

christian@fufezan.net

https://fufezan.net

<img src="./images/cc.png" alt="drawing" width="200" style="float: left;"/>

# Retrieve COVID data from ECDC

In [2]:
covid_url = "https://opendata.ecdc.europa.eu/covid19/casedistribution/json/"
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import json
import urllib

In [3]:
covid_json_unformated = urllib.request.urlopen(covid_url).read().decode("utf-8")
covid_json = json.loads(covid_json_unformated)
cdf = pd.DataFrame(covid_json['records'])

In [4]:
cdf.sample(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
60396,30/05/2020,30,05,2020,42,3,Venezuela,VE,VEN,28515829.0,America,3.19121005
32439,30/08/2020,30,08,2020,0,0,Latvia,LV,LVA,1919968.0,Europe,3.12505208
49266,10/11/2020,10,11,2020,3,0,Senegal,SN,SEN,16296362.0,Africa,0.89590548
41593,13/06/2020,13,06,2020,4,0,Niger,NE,NER,23310719.0,Africa,0.09866706
56051,24/05/2020,24,05,2020,0,0,Timor_Leste,TL,TLS,1293120.0,Asia,0
27181,18/09/2020,18,09,2020,3635,122,Indonesia,ID,IDN,270625567.0,Asia,17.86970852
20649,04/03/2020,04,03,2020,34,1,France,FR,FRA,67012883.0,Europe,0.29845008
59411,15/10/2020,15,10,2020,0,0,United_States_Virgin_Islands,VI,VIR,104579.0,America,9.56214919
18294,09/04/2020,09,04,2020,2,0,Eritrea,ER,ERI,3497117.0,Africa,0.8292545
14825,16/07/2020,16,07,2020,1,0,Cyprus,CY,CYP,875899.0,Europe,2.74004195

In [5]:
cdf.shape

(61900, 12)

Rename columns to something more Pythonian. If you think they look already great, then at least rename `notification_rate_per_100000_population_14-days` to `14d-incidence`

Identify which columns have not been casted to an appropriate type during loading!

We did not cover datetime objects in pandas, however they are quite powerful!

Try:

In [ ]:
cdf['date_reported'] = pd.to_datetime(cdf['dateRep'])

Now you can treat the column as a datetime objects using `df[col].dt` , e.g. https://docs.python.org/3/library/datetime.html#datetime.date.year

In [ ]:
cdf['date_reported'].dt.day.head()

Create a new column `deltaTime_since_start_of_recording`

Create histograms for different columns or describe the df. Can you spot the inconsistency in the data? Fix it! :)

Identify those countries (grouped by continent) which showed the most drastic increase most drastic and decrease of the `14d-incidence` within the different years since recording. Visualize intuitively!

Which country showed the highest/lowest fluctuation in `14d-incidence` within a year?

Create a line plot showing the `14-incidence` for all European countries. Use `groupby` operation to generate the data list for the plotly plot.

Create a smoothed version of the `14d-incidence` by averaging 3 months.

Create a radial plot of death rate / 100000 people (see popData2019), where one year completes a circle, i.e. 360Ëš. Visualize the recored years for Italy, Germany, Sweden and Greece. Hint you might need to turn the dateTime into `day within the year` (%j) and adjust 365 to 360 degrees.

Optional: Find "regular" mortality rates for those countries and visualize it in the plot as well.